.project_container {
  background-color: var(--black);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
}

.project_code_link {
  font-style: italic;
  font-weight: 400;
  margin-right: 1rem;
  background-color: var(--dark-black);
  color: var(--white);
  border: 2px solid var(--light-purple);
  padding: 0.3rem 0.5rem;
}

.project_title {
  border-bottom: 3px solid var(--light-purple);
  width: fit-content;
}

.creation_date {
  font-weight: 300;
  opacity: 0.6;
  font-size: 80%;
}

.actions {
  display: flex;
}

.technologies {
  display: flex;
  align-items: center;
}

.technologies * {
  margin: 0;
}

.tag {
  background-color: var(--dark-black);
  font-weight: 300;
  padding: 0.1rem 0.2rem;
  margin-left: 0.5rem;
  opacity: 0.7;
}
/* 
@media (max-width: 432px) {
  .actions {
    flex-direction: column;
  }
} */
