.button {
  font-size: 1.4rem;
  font-style: italic;
  padding: 0.3rem 3rem;
  text-transform: uppercase;
  font-family: var(--anek);
  transition: color 1s linear;
  background-color: var(--dark-black);
  color: var(--white);
  border: 3px solid var(--light-purple);
}
