html {
  --light-blue: #c6ddf0;
  --light-coral: #c99da3;
  --pink: #8980f5;
  --black: #2a2b2a;
  --white: #f7f7f9;
  --anek: "Anek Malayalam";
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background: var(--black);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--anek);
  text-transform: uppercase;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
}

.component,
.children {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.component-title {
  position: relative;
  font-size: 5rem;
  font-family: var(--anek);
  color: var(--white);
  text-transform: uppercase;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
  animation: componentTitle 1s 1 ease-in-out;
}

.children {
  position: relative;
  animation: fadeIn 0.8s 1 ease-in-out;
}

.text {
  color: var(--white);
  opacity: 0.8;
  font-family: var(--anek);
}

.text-container {
  width: 80%;
}

.projects_container {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@keyframes componentTitle {
  0% {
    -webkit-transform: skewX(0deg);
    -moz-transform: skewX(0deg);
    -o-transform: skewX(0deg);
    transform: skewX(0deg);
    letter-spacing: 15px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
    bottom: -8rem;
  }
  100% {
    bottom: 0rem;
  }
}
