html {
  --light-blue: #c6ddf0;
  --light-coral: #c99da3;
  --purple: #8980f5;
  --black: #2a2b2a;
  --white: #f7f7f9;
  --anek: "Anek Malayalam";
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background: var(--black);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--anek);
  text-transform: uppercase;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
}

.text {
  color: var(--white);
  opacity: 0.8;
  font-family: var(--anek);
}

.text-container {
  width: 80%;
}
