html {
  --light-blue: #00a8e8;
  --blue: #007ea7;
  --light-purple: #4056f4;
  --purple: #470ff4;
  --coral: #db7f67;
  --black: #2a2b2a;
  --dark-black: #222;
  --white: #f4f4f9;
  --anek: "Anek Malayalam";
}

body {
  margin: 0;
  box-sizing: border-box;
  background: var(--black);
}

.App {
  padding: 0 15%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--anek);
  text-transform: uppercase;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
}

.text {
  color: var(--white);
  opacity: 0.8;
  font-family: var(--anek);
}

@media (max-width: 1080px) {
  html {
    font-size: 62.5%;
  }
  .App {
    padding: 0 10%;
  }
}
